In [32]:
import re
import numpy as np
import pandas as pd

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [33]:
dataset = pd.read_csv('data/raw/restaurant_reviews.tsv', delimiter = '\t', quoting = 3)

In [34]:
dataset

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [35]:
corpus = []
for review in dataset['Review']:
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = ' '.join(review)
    corpus.append(review)

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(corpus, dataset.iloc[:, 1].values, test_size = 0.3, random_state = 42)

In [37]:
train_data = pd.DataFrame(data = {
    'Review' : x_train,
    'Sentiment' : y_train
}, index = range(len(x_train)))

In [38]:
test_data = pd.DataFrame(data = {
    'Review' : x_test,
    'Sentiment' : y_test
}, index = range(len(x_test)))

In [39]:
train_data.to_csv('data/processed/train_data.csv', index=False, header=True)
test_data.to_csv('data/processed/test_data.csv', index=False, header=True)

In [40]:
test_review = pd.DataFrame(data = {
    'Review' : x_test
}, index = range(len(x_test)))
test_review.to_csv('data/processed/test_review.csv', index=False, header=True)